<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425738190008-1fn1278koti6o2cdre6fqre8aprajnk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425738190008-1fn1278koti6o2cdre6fqre8aprajnk2</string>
	<key>API_KEY</key>
	<string>AIzaSyCg0oSrNfs4VUcO-XVcIMepn5082Qlt4hs</string>
	<key>GCM_SENDER_ID</key>
	<string>425738190008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasty.TastyTrade</string>
	<key>PROJECT_ID</key>
	<string>tasty-trade-sjsu</string>
	<key>STORAGE_BUCKET</key>
	<string>tasty-trade-sjsu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425738190008:ios:6b093031da83ff8c28c84d</string>
</dict>
</plist>